<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>basic styles</title>
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/global.css">
<script src="../js/jquery-1.8.3.min.js"></script>
</head>

<body>
<div class="demo-con">
	<h2>基本样式 配置参数演示</h2>
    <h4>1. 按钮样式</h4>
    <p>a标签或者input标签均适用，调用同样的className即可，包括普通跟禁用及特殊种类</p>
    <h5>1) 蓝色大按钮样式：</h5>
    <p>
    	<a href="#" class="u-btn u-btn-lg u-btn-bg-blue">登录</a>
        <input type="button" class="u-btn u-btn-lg u-btn-bg-blue" value="登录"/>
        
        <a href="#" class="u-btn u-btn-lg u-btn-bg-blue-disabled">登录</a>
        <input type="button" disabled class="u-btn u-btn-lg u-btn-bg-blue-disabled" value="登录"/>
    </p>
    <pre class="brush: html;">
        <a href="#" class="u-btn u-btn-lg u-btn-bg-blue">登录</a>
        <input type="button" class="u-btn u-btn-lg u-btn-bg-blue" value="登录"/>
        
        <!--禁用样式调用-->
        <a href="#" class="u-btn u-btn-lg u-btn-bg-blue-disabled">登录</a>
        <input type="button" class="u-btn u-btn-lg u-btn-bg-blue-disabled" value="登录"/>
    </pre>
    <h5>2) 红色大按钮样式：</h5>
    <p>
    	<a href="#" class="u-btn u-btn-lg u-btn-bg-red">注册</a>
        <input type="button" class="u-btn u-btn-lg u-btn-bg-red" value="注册">
        
        <a href="#" class="u-btn u-btn-lg u-btn-bg-red-disabled">注册</a>
        <input type="button" disabled class="u-btn u-btn-lg u-btn-bg-red-disabled" value="登录"/>
    </p>
    <pre class="brush: html;">
        <a href="#" class="u-btn u-btn-lg u-btn-bg-red">注册</a>
        <input type="button" class="u-btn u-btn-lg u-btn-bg-red" value="注册">
        
        <!--禁用样式调用-->
        <a href="#" class="u-btn u-btn-lg u-btn-bg-red-disabled">注册</a>
        <input type="button" disabled class="u-btn u-btn-lg u-btn-bg-red-disabled" value="登录"/>
    </pre>
    <h5>3) 基本按钮调用样式：</h5>
    <p>
    	<a href="#" class="u-btn u-btn-auto u-btn-bg-gray u-bd-color-gray">导入</a>
        <a href="#" class="u-btn u-btn-sm u-btn-bg-gray u-bd-color-gray">导入</a>
        <a href="#" class="u-btn u-btn-nm u-btn-bg-gray u-bd-color-gray">导入</a>
        <a href="#" class="u-btn u-btn-lg u-btn-bg-gray u-bd-color-gray">导入</a>
        <br><br>
        <a href="#" class="u-btn u-btn-auto u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
        <a href="#" class="u-btn u-btn-sm u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
        <a href="#" class="u-btn u-btn-nm u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
        <a href="#" class="u-btn u-btn-lg u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
    </p>
    <pre class="brush: html;">
    	<a href="#" class="u-btn u-btn-auto u-btn-bg-gray u-bd-color-gray">导入</a>
        <a href="#" class="u-btn u-btn-sm u-btn-bg-gray u-bd-color-gray">导入</a>
        <a href="#" class="u-btn u-btn-nm u-btn-bg-gray u-bd-color-gray">导入</a>
        <a href="#" class="u-btn u-btn-lg u-btn-bg-gray u-bd-color-gray">导入</a>
        <br><br>
        <a href="#" class="u-btn u-btn-auto u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
        <a href="#" class="u-btn u-btn-sm u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
        <a href="#" class="u-btn u-btn-nm u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
        <a href="#" class="u-btn u-btn-lg u-bd-color-gray u-btn-bg-gray-disabled">导入</a>
    </pre>
    <h5>4) 加图标特殊功能按钮类别：</h5>
    <p>
    	<a href="#" class="u-btn u-btn-auto u-btn-bg-blue u-bd-color-blue f-pl40">新增商品<i class="ico-add"></i></a>
        <a href="#" class="u-btn u-btn-auto u-btn-bg-gray u-bd-color-gray f-pl40">导入<i class="ico-ope"></i></a>
    </p>
    <pre class="brush: html;">
    	<a href="#" class="u-btn u-btn-auto u-btn-bg-blue u-bd-color-blue f-pl40">新增商品<i class="ico-add"></i></a>
        <a href="#" class="u-btn u-btn-auto u-btn-bg-gray u-bd-color-gray f-pl40">导入<i class="ico-ope"></i></a>
    </pre>
    <h4>2. 文本框样式</h4>
    <p>包括普通跟禁用文本框</p>
    <h5>1) 文本框样式：</h5>
    <p>
    	<input type="text" class="u-ipt u-ipt-nm" placeholder="文本框样式">
        <input type="text" disabled="" class="u-ipt u-ipt-nm u-ipt-disabled" placeholder="禁用文本框样式">
    </p>
    <pre class="brush: html;">
    	<input type="text" class="u-ipt u-ipt-nm" placeholder="文本框样式">
        <input type="text" disabled="" class="u-ipt u-ipt-nm u-ipt-disabled" placeholder="禁用文本框样式">
    </pre>
    
    <h5>2) 下拉框样式：</h5>
    <p>
    	<select class="u-select u-select-nm">
        	<option>请选择</option>
            <option>选择一</option>
            <option>选择二</option>
            <option>选择三</option>
        </select>
        <select class="u-select u-select-nm u-select-disabled" disabled="">
        	<option>请选择</option>
            <option>选择一</option>
            <option>选择二</option>
            <option>选择三</option>
        </select>
    </p>
    <pre class="brush: html;">
    	<select class="u-select u-select-nm">
        	<option>请选择</option>
            <option>选择一</option>
            <option>选择二</option>
            <option>选择三</option>
        </select>
        <select class="u-select u-select-nm u-select-disabled" disabled="">
        	<option>请选择</option>
            <option>选择一</option>
            <option>选择二</option>
            <option>选择三</option>
        </select>
    </pre>
    <h5>3) 多行文本框样式：</h5>
    <p>
    	<textarea class="u-textarea u-textarea-sm" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-sm u-textarea-disabled" disabled="" rows="3"></textarea><br><br>
        <textarea class="u-textarea u-textarea-nm" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-nm u-textarea-disabled" disabled="" rows="3"></textarea><br><br>
        <textarea class="u-textarea u-textarea-lg" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-lg u-textarea-disabled" disabled="" rows="3"></textarea><br><br>
        <textarea class="u-textarea u-textarea-auto" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-auto u-textarea-disabled" disabled="" rows="3"></textarea>
        
    </p>
    <pre class="brush: html;">
    	<textarea class="u-textarea u-textarea-sm" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-sm u-textarea-disabled" disabled="" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-nm" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-nm u-textarea-disabled" disabled="" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-lg" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-lg u-textarea-disabled" disabled="" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-auto" rows="3"></textarea>
        <textarea class="u-textarea u-textarea-auto u-textarea-disabled" disabled="" rows="3"></textarea>
    </pre>
</div>
<!--代码高亮显示-->
<script src="../js/elem/lh/scripts/shCore.js" type="text/javascript"></script>
<script src="../js/elem/lh/scripts/shBrushJScript.js" type="text/javascript"></script>
<script src="../js/elem/lh/scripts/shBrushXml.js" type="text/javascript"></script>
<script src="../js/elem/lh/scripts/shBrushCss.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="../js/elem/lh/styles/shCoreDjango.css">
<script type="text/javascript">SyntaxHighlighter.all();</script>
<!--end-->	
</body>
</html>
